:root {
  --firstColor: #000000;
  --colorHover: #ffffff;
  --colorNavnoHover: #efefef;

  --latarBackground: #eef5ff;

  --primaryNavBackground: #0f617d;
  --buttonnoHover: #00ffc8;
  --buttonBorderColor: #00ddad;
  --colorTabel: #75dcff;
  --columnColor: #1fa1cc;
  --borderColor: #00bfff;

  --borderRadius: 14px;
  --borderRadiusButton: 3px;
}

#slides {
  display: none;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--colorTabel);
}

#slides .slidesjs-navigation {
  margin-top: 3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../images/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
  color: #333;
}

#slides a:hover,
#slides a:active {
  color: #9e2020;
}

.navbar {
  overflow: hidden;
}
